body {
    background-color: rgb(232, 138, 138);
}
p {
    font-family: cursive;
    font-size: xx-large;
font-weight: lighter;
    color: rgb(49, 19, 220);
}

h1 {
    font-family: serif;
    font-size: large;
font-weight: lighter;
    color: rgb(83, 118, 142);
}

a {
    font-family: serif;
    color: rgb(96, 99, 11);
}
